@import "../variables.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $primaryGrey;
  align-items: center;
}

.headerActions {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.modalContainer {
  position: absolute;
}
