@import "../variables.scss";

.modal {
  position: absolute;
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  padding: 20px;
  bottom: 50%;
  left: 30%;
}

.notification {
  background-color: #0dc662 !important;
}
