@import "../variables.scss";

.resultRoot {
  background-color: $primaryGrey;
  width: 100%;
}

.locationText {
  color: $secondaryGrey;
  font-size: 18px;
}

.locationValue {
  color: $secondaryGrey;
  font-size: 50px !important;
  font-weight: bolder;
  width: 40%;
  margin-top: 0;
}

.detailContainer {
  display: flex;
  margin-top: 50px;
  justify-content: flex-start;
}

.detailBox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 20px;
}

.detailText {
  color: $secondaryGrey;
  font-size: 2px;
}

.detailText {
  color: $secondaryGrey;
  font-size: 15px;
  font-weight: 300;
}

.detailValue {
  color: $secondaryGrey;
  font-size: 25px;
  margin-top: 0;

  font-weight: bold;
}

.resultsContainer {
  padding: 20px;
  margin-top: 40px;
}

.resultsItem {
  padding: 20px;
  margin-top: 0px;
}

.resultModalContainer {
  position: absolute;
}

.itemLocationBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
