@import "../variables.scss";

.searchedRoot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.searcherCard {
  width: 100%;
  height: 100vh;
  padding: 15px;
  background-color: $primaryGrey !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searcherInput {
  margin-top: 10px;
  margin-bottom: 50px;
}

.searcherTitle {
  color: $secondaryGrey;
  margin-bottom: 100px;
}

.searcherButtons {
  width: 100%;
}

.searcherButtom {
  width: 100%;
}

.errorNotification {
  position: absolute !important;
  top: -210px !important;
  left: 70% !important;
}
